<% include partials/header %> 
<h1> <%= blogs.title %></h1>

<% blogs.reverse().forEach(function(blog){ %> 
<div class = "margin">
<div class="ui raised very padded text container segment">
    <div>
        <h2 class="ui header"><%= blog.title %></h2>
        <h4><%= blog.created.toDateString() %></h4>
        <img style = "width : auto; height: 300px" src = "<%= blog.image %>">
        <% if(blog.body){ %>
             <p><%- blog.body.substring(0,100) %>...</p>
        <% } %>
        
         
        <a href = "/blog/<%= blog.id %>" class="ui primary button"> Show More </a>
    </div>
</div>
</div>
<% }) %> 

<% include partials/footer %>