<% include partials/header %>

<div class = "dog">
    <div class="ui raised very padded text container segment">

        <h1 class = "ui header"><%= blog.title %></h1>
        <img style = "width: auto; height: 200px" src = "<%= blog.image %>" >
        <p>
            <%= blog.created.toDateString() %>
        </p>
        <div>
            <%- blog.body %> 

        </div>
        <a href = "/blog/<%= blog.id %>/edit" class="ui primary button" >Edit</a>
        <form method = "POST" action = "/blog/<%= blog.id %>?_method=DELETE">
            <BUTTON class="ui basic button">Delete</BUTTON>
        </form>

    </div>

</div>














<% include partials/footer %>